<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Portrait Segmentation</title>

  <link href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/npm/bulma@0.7.5/css/bulma.min.css" rel="stylesheet">
  <link href="//cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/atelier-heath-light.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
  <link href="assets/images/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
  <link href="assets/images/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
</head>
<body>
  <section class="hero is-link is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">
          Portrait Segmentation
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div id="app"></div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          &copy; 2019 Evgeny Nizhibitsky
        </p>
      </div>
    </div>
  </footer>
  <script type="text/x-template" id="portrait">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-two-thirds">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input" v-model="url" placeholder="http://example.com/image.png">
            </div>
            <div class="control">
              <a class="button is-link"
                      :class="{'is-loading': state === 'segment'}"
                      :disabled="!url || state !== 'ready'"
                      @click="segment">
                  Poehali!
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-one-third">
          <h2 class="subtitle is-2">Photo</h2>
          <div class="card">
            <div class="card-image">
              <figure class="image is-3by4">
                <template v-if="url">
                  <img :src="url">
                </template>
                <template v-else>
                  <img src="//placeimg.com/480/640/any">
                </template>
              </figure>
            </div>
          </div>
          <br>
        </div>
        <div v-if="mask" class="column is-one-third">
          <h2 class="subtitle is-2">Mask</h2>
          <div class="card">
              <div class="card-image">
                <figure class="image is-3by4">
                  <img :src="'data:image/png;base64,' + mask">
                </figure>
              </div>
            </div>
        </div>
        <div v-else-if="error" class="column is-two-thirds">
          <h2 class="subtitle is-2">Error</h2>
          <div class="message is-danger">
            <div class="message-body">
              <pre v-highlightjs><code>{{ error }}</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script src="//cdn.jsdelivr.net/npm/vue@2.6.10"></script>
  <script src="//cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/highlightjs@9.12.0/highlight.pack.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
